* {
    padding: 0;
    margin: 0;
}

/* 伪元素 */
::-webkit-scrollbar {

    width: 0;
    /* 隐藏滚动条 */
}

.box {
    width: 600px;
    /* 
        vh: viewport height 
            一个设备的高度平均分成了100份  
              设备的高度 =  100vh
        vw: viewport width
            一个设备的宽度 = 100vw
    */
    height: 100vh;
    margin: 0 auto;
    background-color: #eee;
}

.header {
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background-color: grey;
}

.content {
    overflow-y: scroll;
    /* 塌陷了 */
    height: calc(100% - 40px - 50px);
}

.send-box {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ddd;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.mine {
    display: block;
    margin: 5px 10px;
}

.robot {
    display: block;
    margin: 5px 10px;
}

.mine .avator {
    width: 30px;
    height: 30px;
    background-image: url('./img/3.png');
    background-size: 100% 100%;
    float: right;
}

.text {
    padding: 0 10px;
    line-height: 30px;
    border-radius: 5px;
    max-width: 50%;
    /* 最大宽度，防止换行 */
}

.mine .text {
    float: right;
    background-color: greenyellow;
    position: relative;
    margin-right: 5px;
}

.mine .text::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: greenyellow;
}

.robot .avator {
    width: 30px;
    height: 30px;
    background-image: url('./img/dog1.jpg');
    background-size: 100% 100%;
    float: left;
}

.robot .text {
    float: left;
    margin-left: 5px;
    background-color: #fff;
    position: relative;
}

.robot .text::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #fff;
}

.send-box #send-inp {
    width: 500px;
    height: 30px;
}

.send-box #send-btn {
    width: 80px;
    height: 30px;
}